.container {
    position: relative;
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 60%;
    margin: 10% auto;
}

.Head {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
